@CHARSET "UTF-8";

/* menu */

#le_menu a {
	text-decoration: none;
}

/* */
body {
	background: #967C8D;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
}

#container{
width: 800px;
margin: 0 auto;
padding: 10px 10px 30px;
background-color: #fff;
width: 85%;
border: 10px solid rgb(169, 171, 171);
}

.content-accueil{
height: 350px;
border: 3px solid rgb(185, 177, 192);
margin-bottom: 25px;

}

#valLogin {
width: 156px;
height: 30px;
margin-bottom: 20px;
margin-top: 15px;
}

#form_connexion {
padding-top: 100px;
padding-left: 50px;
width: 600px;
margin: 0 auto;
}

#form_connexion input {
margin-bottom: 20px;
/* width: 200px; */
/* clear: both; */
/* float: right; */
display: initial;
width: 150px;
margin-top: 15px;
}

#form_connexion input{
padding: 5px;
color: #333333;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}

div#le_menu {
margin: 0 auto;
width: 87.4%;
background: seashell;
height: 70px;
margin-bottom: 25px;
}

div#footer, div#le_menu, div#menu{
padding: 11px;
margin: 0 auto;
background: white;
width: 86.5%;
margin-top: 25px;
margin-bottom: 15px;
}

#form_inscription input{
margin-bottom: 20px;
font-size: 14px;
width: 35%;
height: 18px;
}

#form_inscription{
	
height: 600px;
}

#form_inscription div{
position: relative;
width: 50%;
font-size: 16px;
margin-left: 50%;
padding-top: 29px;
height: 73%;
margin-right: -1px;
}

#form_inscription label {
width: 57%;
display: block;
float: left;
padding-right: 20px;
}

div#saisies_finscription {
margin: 0 auto;
width: 95%;
}

#form_inscription h5{
	text-align:center;
}

#valI {
	
width: 134px;
height: 24px;
float: right;
margin-right: 16px;
}

ul li {
	
display: inline-block;
text-decoration: none;
padding-right: 10px;
padding-top: 11px;
}

/* formulaire nouvelle annonce */

#saisies_propositionLogement label {
	width: 40%;
	margin-top: 15px;
}

#saisies_propositionLogement input {
	margin-top: 15px;
}



#propoLogMidddle{
	width: 400px;
display: inline-block;
}

#propoLogLeft{
	width: 380px;
display: inline-block;
}

.alignLeft {
	float: left;
	margin-left: 30px;
}
.alignMiddle {
	float: left;
	margin-left: 30px;
}

#valNouvelleAnnonce {
	
float: right;
}
/* messagerie */
#maBoite {
width: 100%;
color: white;
text-align: center;
}

table#maBoite tr {
	width:5%;
	background-color: rgba(124, 171, 187, 0.88);
height: 30px;
	
}

.cbMessagerie {
	width: 10%;
}

.date, .expediteur {
	width: 11%;
}

.objet {
	
}

/* recherche */
#inputCherche{
	width: 33%;
}

.date {
	width: 13%;
}

#leFormRecherche #contenuFormRecherche{
	margin:0 auto;
}

#btCherche {
	
border-radius: 0px !important;
}

#contenuFormRecherche input {
	
height: 20px;
border-radius: 6px;
}